@import "compass/reset";
@import "compass/css3";
@import "compass/support"; 
@import "compass/utilities/sprites";
/*******Global*******/
* {
  vertical-align: middle !important;
}
html {
  line-height: inherit;
}

@mixin transition($property:all,$time:0.3s){
  @include transition-property($property);
  @include transition-duration($time);
}

@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

a{
  @include transition;
  img{
    border: none;
  }
  &:hover,
  &:focus{
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus{
  @include transition;
  outline: none;
}

button:focus{
  outline: 0;
}
img {
  max-width: 100%;
  height: auto;
}
.clear {
  content: "";
  display: table;
  clear: both;
}

$Margin-col : 15px;
.container-fluid{
  padding: {
    left: $Margin-col;
    right: $Margin-col;
  }
  overflow: hidden;
}
.container{
  padding: {
    left: $Margin-col;
    right: $Margin-col;
  }
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  padding-left: $Margin-col;
  padding-right: $Margin-col;
}
.row{
  margin-left: -$Margin-col;
  margin-right: -$Margin-col;
}

.sprite{
  display: block;
  content: "";
}

@import "icons/*.png";
@include all-icons-sprites;


$size1600: "only screen and (max-width : 1600px)";
$size1440: "only screen and (max-width : 1440px)";
$size1360: "only screen and (max-width : 1360px)";
$size1200: "only screen and (max-width : 1199px)";
$size1024: "only screen and (max-width : 1024px)";


$c1: #000;
$c2: #fff;
$c3: #17181c;
$c4: #28292d;
$c5: #0b9171;
$c6: #eab971;
$c7: #ff4350;
$gr: #333;
$gr2: #666;
$border: #4e4e4e;

/********* Fonts **********/
@font-face {
  font-family: "Iransans_Bold";
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/eot/IRANSansWeb_Bold.eot');
  src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
     url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
     url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
     url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
  font-family: "Iransans_Medium";
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/eot/IRANSansWeb_Medium.eot');
  src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
     url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
     url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
     url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
  font-family: "Iransans";
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/eot/IRANSansWeb.eot');
  src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
     url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
     url('../fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
     url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}
@font-face {
  font-family: "Iransans_Light";
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/eot/IRANSansWeb_Light.eot');
  src: url('../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
     url('../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
     url('../fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
     url('../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
/********* Fonts **********/
body{
  font-size: 12px;
  background-color: $c3;
  color: $c2;
  font-family: "Iransans";
  padding: 0 !important;
  overflow-x: hidden !important;
  position: relative;
}

.btn{
  height: 30px;
  line-height: 30px;
  text-align: center;
  @include border-radius(4px);
  background-color: $c5;
  color: $c2;
  font-size: 13px;
  font-family: "Iransans_Medium";
  padding: 0 25px;
  border: none;
  &:hover{
    color: $c2;
  }
  img{
    margin-left: 2px;
  }
  &.btn-warning{
    background-color: $c6;
    color: $c1;
  }
  &.btn-danger{
    background-color: $c7;
  }
}
.mb20{
  margin-bottom: 20px;
}
hr{
  border-color: $c2;
}
.form-group{
  margin-bottom: 10px;
  label{
    margin-bottom: 5px;
    color: $c3;
  }
  .form-control{
    height: 30px;
    &:focus{
      border-color: $c5;
      outline: none;
      box-shadow: none;
    }
  }
}
.header{
  align-items: center;
  padding: 25px 0;
  border-bottom: solid 1px $c2;
  margin-bottom: 25px;
  .header_title{
    font-size: 16px;
    font-family: "Iransans_Medium";
  }
  .login_link{
    text-decoration: underline;
    color: $c2;
  }
}