$warning-color: #eab971;
$danger-color:#ff4350;
$info-color: #3bd5a2;
$medium-text-size:16px;
$small-text-size:14px;
$xs-text-size:12px;

header {
    padding: 30px 0;
    line-height: 24px;

    
}

.title {
    color: #5a5c6b;
    font-size: $medium-text-size;
    margin-right: 10px;
}

.costLabel {
    color: #afb2be;
    font-size: $medium-text-size;
    margin-left: 5px;
}

.costDetail {
    font-size: $small-text-size;
    color: #757781;
}

.header-nav {
    color: #85889e;
    font-size: $small-text-size;
}

.infoLabel {
    color: $info-color;
}

.warningLabel {
    color: $warning-color;
}

.dangerLabel {
    color: $danger-color;
}


#page-nav label,
#hamburger {
    display: none;
}

@media screen and (max-width:991px){
    .logo-container{
        margin-bottom: 10px;
    }
    #page-nav {
        display: flex;
        label {
            display: inline-block;
            color: #85889e;
            font-size: 30px;
            margin-right: auto;
        }
        .small_menu {
            // display: none !important;
            position: fixed;
            left: -250px;
            top: 0;
            z-index: 1500;
            background: #000;
            width: 250px;
            height: 100%;
            padding: 40px 20px 20px 20px;
            -webkit-transition: all ease-in-out 0.3s;
            -moz-transition: all ease-in-out 0.3s;
            -o-transition: all ease-in-out 0.3s;
            transition: all ease-in-out 0.3s;
            .close_menu{
                display: block;
                width:25px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                background: #fff;
                position: absolute;
                left: 10px;
                top: 10px;
                z-index: 100;
            }
            ul{
                justify-content: inherit !important;
                display: block !important;
                li{
                    a{
                        display: block;
                        border-bottom: solid 1px #6c757d;
                        padding: 5px 0;
                        &:hover{
                            color: #fff;
                        }
                    }
                }
            }
        }
        // input:checked~.small_menu {
        //     display: block !important;
        //     left: 0;
        // }
    }
}

@media screen and (max-width:767px) {

    .title,
    .costLabel {
        font-size: $small-text-size;
    }

    .costDetail,
    .header-nav {
        font-size: $xs-text-size;
    }
}

@media screen and (max-width:425px) {

    .logo-container {
        flex-direction: column;

        img
        {
            width: 200px;
        }
    }

    header {
        position: relative;
    }

}

@media screen and (max-width:375px) {

    .logo-container {
        flex-direction: column;
    }

    header {
        position: relative;
    }

}
@media screen and (max-width:360px){
    .title, .costLabel{
        font-size: 12px;
    }
}