$info-color: #3bd5a2;
$normal-color: #afb2be;
$warning-color: #eab971;
$danger-color:#ff4350;
$gray-color1:#5a5c6c;
$gray-color2:#5a5c6b;
$gray-color3:#595b67;
$gray-color4:#dddfe8;
$gray-color5:#53555d;
$gray-color6:#dddfe8;
$back-color:#1b1c21;


$large_text-size:20px;
$medium_text-size:16px;
$small_text-size:13px;

// body
// {
//     font-family: AnjomanFaNum-Regular;
// }


// .date-wrapper {
//     background: $back-color;
//     border-radius: 10px;
//     margin-top: 20px;
//     padding: 0 15px;

//     .date-time-picker {
//          margin: 10px 0;

//         .form-control {
//             font-size: 20pX;
//             line-height: 24px;
//             border-radius: 10px;
//             background-color: #15161a;
//             border: none;
//             color: $normal-color;

//             &:focus {
//                 background-color: #15161a;
//                 box-shadow: none;

//             }
//         }
//     }

// }


.captionFigure
{
    display: inline-block;
    text-align: center;
    margin-bottom: 25px;
    img
    {
        margin-bottom: 20px;
    }
}
.caption
{
    direction: ltr;
    text-transform: uppercase;
}
.largeCaption
{
 @extend .caption;
 font-size: $large_text-size;
 display: block;
 color: $normal-color;
}
.smallCaption
{
    @extend .caption;
    font-size: $small_text-size;
    color: $gray-color5;
}
.worthCurrency
{
    label
    {
        font-size: 48px;
        line-height: 54px;
        direction: ltr;
        color: $normal-color;
        span
        {
            color: $gray-color1;
        }
    }
}
.lastWeek
{
    label
    {
        direction: ltr;
        color: $info-color;
        font-size: $medium_text-size;
        span
        {
            color: $gray-color2;
        }
    }

}

.report-wrapper
{
    background: $back-color;
    border-radius: 10px;
    margin-top: 20px;
    padding: 0 15px;
 
    .rowHeader
    {
        color: $gray-color3;
        font-size: $medium_text-size;
        padding: 15px 0 5 0;
    }
    .rowTitle
    {
        color: $gray-color6;
        font-size: $large_text-size;
        direction: ltr;
        padding: 5px 0 15px 0;
    }
    .lightSpan
    {
        font-family: AnjomanFaNum-Light;
        font-size: 16px;
    }
}
.chart-wrapper
{
    background: $back-color;
    border-radius: 10px;
    margin-top: 20px;
    .mychart
    {
        width: 100%;
        max-height: 600px;
    }
    .btn-group{
        margin: 0 -15px;
        label{
            border: none;
            color: #fff;
            background-color: #222524;
            border: none;
            box-shadow: none;
            &.active{
                background-color: $info-color !important;
                color: #1b1c21 !important;
            }
        }
    } 
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
@media screen and (max-width:768px)
{
    .report-wrapper
    {
     .rowHeader
     {
         display: block;
     }
    }
}

@media screen and (max-width: 425px) {
  
    .report-wrapper
    {
        .rowHeader {
            font-size: $small_text-size;
        }

        .rowTitle {
            font-size: $medium_text-size;
        }
    }

    .worthCurrency {
        label {
            font-size: 38px;
        }
    }
    }
@media screen and (max-width: 375px) {
  
    .report-wrapper
    {
        .rowHeader
        {
            font-size: $small_text-size;
            padding: 5px 0;
        }
        .rowTitle
        {
            font-size: $small_text-size;
            padding: 5px 0;

        }
    }
}

@media screen and (max-width: 320px) {
  
    .report-wrapper
    {
        .rowHeader
        {
            font-size: 10px;
        }
        .rowTitle
        {
            font-size: 10px;
        }
    }
}
