$info-color: #3bd5a2;
$normal-color: #afb2be;
$warning-color: #eab971;
$danger-color:#ff4350;
$gray-color1:#5a5c6c;
$gray-color2:#5a5c6b;
$gray-color3:#595b67;
$gray-color4:#dddfe8;
$gray-color5:#53555d;


$large_text-size:20px;
$medium_text-size:16px;
$small_text-size:13px;

.captionFigure
{
    display: inline-block;
    text-align: center;
    img
    {
        margin-bottom: 20px;
    }
}

.caption
{
    direction: ltr;
    text-transform: uppercase;
    line-height: 20px;
}
.largeCaption
{
 @extend .caption;
 font-size: $large_text-size;
 display: block;
 color: $normal-color;
}
.smallCaption
{
    @extend .caption;
    font-size: $small_text-size;
   color: $gray-color5;
}


.WorthCurrency
{
    label
    {
        font-size: 48px;
        line-height: 54px;
        direction: ltr;
        color: $normal-color;
        span
        {
            color: $gray-color1;
        }
    }

}

.d-flex.flex-column
{
    div
    {
        margin: 10px;
    }
}
