@charset "UTF-8";
.dataTables_wrapper {
  width: 100%;
  background-color: #1b1c21;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 0 30px;
}

.dataTables_wrapper .DTFC_LeftBodyLiner {
  padding-right: 0 !important;
}

.myTable {
  border-radius: 10px;
  border: none !important;
}

table.dataTable thead .sorting {
  /* background-image: url(/assets/images/dsc.png) ;
    background-position:center left; */
  background-image: none;
}

table.dataTable thead .sorting_desc {
  /* background-image: url(/assets/images/dsc.png) ; 
    background-position:center left; */
  background-image: none;
}

table.dataTable thead .sorting_asc {
  background-image: none;
  /* background-image: url(/assets/images/asc.png) ;
    background-position:center left; */
}

table.dataTable thead .sorting_asc:first-child {
  background-image: none;
}

tr th {
  border: none !important;
  text-align: center !important;
  color: #757780;
  font-size: 14px;
  background: #1b1c21;
}

tr th span {
  margin-left: 5px;
}

tr td {
  text-align: center !important;
  color: #afb2be;
  direction: ltr;
  font-size: 12px;
}

/* th, td { white-space: nowrap; }
div.dataTables_wrapper {
  width: 800px;
  margin: 0 auto;
} */
.even {
  background-color: #1b1c21 !important;
}

.odd {
  background-color: #202228 !important;
}

.dataTables_paginate {
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
}

/* .paging_simple_numbers
{
    width: 100%;
    display: flex !important;
    justify-content: space-between;
} 
*/
.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  width: 20px;
  height: 20px;
  border-radius: 50px !important;
  font-size: 8px;
  /* line-height: 10px; */
  color: #747576 !important;
  background: #323337 !important;
  border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fff !important;
  background: #383e5c !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover {
  width: auto;
  border-radius: 10px !important;
  color: #fff !important;
  background: #383e5c !important;
  font-size: 0;
  line-height: 10px;
  /* padding: 0 5px; */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.next::before,
.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 8px;
  content: "صفحه بعد";
  font-size: 8px;
  line-height: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover {
  width: auto;
  border-radius: 10px !important;
  color: #fff !important;
  background: #383e5c !important;
  font-size: 0;
  line-height: 10px;
  /* padding: 0 5px; */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.previous::before,
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover::before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 8px;
  content: "صفحه قبل";
  font-size: 8px;
  line-height: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  color: #747576 !important;
  background: #323337 !important;
}
/*# sourceMappingURL=dataTableStyle.css.map */