
/*third part*/

h1
{
    color:#5a5c6b;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin: 10px 0px;
}

.coinNama p
{
    color: #afb2be;
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
}
.coinNama button
{
    border-radius: 18px;
    background-color:#383e5c;
    color: #d7d8de;
    font-size: 12px;
    line-height: 16px;
    width: 128px;
}

.calculator form
{
    border-radius: 10px;
    background-color: #1b1c21;
    padding: 30px;
}

.form-group .form-control
{
    font-size: 30pX;
    line-height: 48px;
    border-radius: 10px;
    background-color: #15161a;
    border: none;
    direction: ltr;
    color: #afb2be;
}

.form-control:focus
{
    background-color: #15161a;
}
.cal-form-group
{
    position: relative;
}
.cal-form-group img
{
    position: absolute;
}

.cal-form-group .form-control
{
    padding-left: 15%;
}
.cal-form-group img.calInput
{
    top: 25%;
    left: 5%;
}

.cal-form-group img.rightInput
{
    top: 15%;
    left: 25%;
}

.cal-form-group img.leftInput
{
    top: 15%;
    left: 15%;
}

.cal-form-group img.rightDownArrow
{
    top: 50%;
    right: 27%;
}
.cal-form-group img.leftDownArrow
{
    top: 50%;
    right: 32%;
}

.convertDiv
{
    position: relative;
}
.convertDiv div
{
    width: 50%;
}
#convertBtn
{
    width: 80px;
    height: 80px;
    position: absolute;
    background: #15161a  url(/assets/images/iterative.png) no-repeat center; 
     border: 10px solid #1b1c21;
     margin: 0px 6px;
     border-radius: 50%;
     left: 40%;
     bottom: 5%;
     z-index: 100;
}

input.result
{
    color: #00cc9b !important;
}

.cal-form-group span.equal
{
    position: absolute;
    font-size: 25px;
    top: 20%;
    left: 5%;
    color: #00cc9b;
}

.customSelect
{
    position: relative;
    direction: ltr;
    overflow: scroll;
    height: 50px;
}
.customSelect img
{
    width: 24px;
    height: 24px;
}


/* --- Modal ----*/

.modal
{
    border-radius: 10px;
}
.modal-content
{
    background: #1b1c21;
    padding: 10px;
}
.modal-header
{
    border: none;
}
.modal-title
{
    font-size: 16px;
    line-height: 24px;
    color: #e8e9f1;
}
.modal-body p
{
    color: #afb2be;
    font-size: 14px;
    line-height: 24px;
    color: #e8e9f1;
    text-align: justify;
}
.modal-footer
{
    border: none;
    justify-content: flex-start;
    padding-top: 0;
}
.modal-footer button
{
    color:  #d7d8de;
    font-size: 12px;
    line-height: 16px;
    border-radius: 18px;
    width: 80px;
    height: 36px;
    background: transparent;
    border: none;
}
.Btnprimary
{
    background: #0b9171 !important;
}

.changeRate-form-group
{
    position: relative;
}
.changeRate-form-group .form-dontrol
{
padding-left: 5px;
}
.changeRate-form-group span
{
    font-size: 10px;
    line-height: 16px;
    color: #53555c;
    position: absolute;
    top: 30%;
    right: 5%;
}
/* --- Responsive Set*/

@media only screen and (max-width:992)
{
    div.dataTables_wrapper
    {
        /* margin: 0 auto;
        padding: 0;
        overflow-x: scroll; */
    }
    tr
    {
        height: 40px;
    }
   
}

@media only screen and (max-width:768)
{
    tr
    {
        height: 40px;
    }
   
    /* th, td { white-space: nowrap; } */
    div.dataTables_wrapper
    {
        /* width: 300px; */
        margin: 0 auto;
        padding: 0;
        overflow-x: scroll;
    }
   
}


@media only screen and (max-width: 990px)
 {
    #conVertBtn
    {
        left: 33%;
    }
  }
  @media only screen and (max-width: 980px )
  {
     #conVertBtn
     {
         left: 34%;
     }
   }


   @media only screen and (max-width: 975px)
   {
      #conVertBtn
      {
          left: 33%;
      }
    }
   
    @media only screen and (max-width: 768px)
    {
       #conVertBtn
       {
           left: 40%;
       }

       .coinNama p
        {
        color: #afb2be;
        font-size: 14px;
        font-weight: 100;
        line-height: 24px;
        text-align: justify;
        }
    }

    @media only screen and (max-width: 480px)
    {
       #conVertBtn
       {
           left: 37%;
       }
     }

     @media only screen and (max-width: 440px )
     {
        #conVertBtn
        {
            left: 37%;
        }
      }

      @media only screen and (max-width: 414px)
      {
         #conVertBtn
         {
             left: 35%;
         }
       }

       @media only screen and (max-width: 365px)
       {
        #conVertBtn
        {
            left: 32%;
            /* border: 8px solid #1b1c21; */

            /* width: 70px;
            height: 70px; */

        }
        }
        @media only screen and (max-width: 330px)
        {
         #conVertBtn
         {
             left: 34%;
             width: 68px;
             height: 68px;
            bottom: 16%;
         }
         }











