body {
  font-family: AnjomanFaNum-Regular;
}

.warningLabel {
  color: #eab971;
}

.dangerLabel {
  color: #ff4350;
}

.infoLabel {
  color: #3bd5a2;
}

h1 {
  color: #5a5c6b;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  margin: 10px 0px;
}

.form-control {
  font-size: 30pX;
  line-height: 48px;
  border-radius: 10px;
  background-color: #15161a;
  border: none;
  direction: ltr;
  color: #afb2be;
}

.form-control:focus {
  background-color: #15161a;
}

.coinNamaDescription p {
  color: #afb2be;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  font-family: "AnjomanFaNum-Light";
}

.coinNamaDescription button {
  border-radius: 18px;
  background-color: #383e5c;
  color: #d7d8de;
  font-size: 12px;
  line-height: 16px;
  width: 128px;
}

.calculator form {
  border-radius: 10px;
  background-color: #1b1c21;
  padding: 30px;
}

.calculator input.result {
  color: #00cc9b !important;
}

.calculator .cal-form-group {
  position: relative;
}

.calculator .cal-form-group img {
  position: absolute;
}

.calculator .cal-form-group img.calInput {
  top: 25%;
  left: 5%;
}

.calculator .cal-form-group span.equal {
  position: absolute;
  font-size: 25px;
  top: 20%;
  left: 5%;
  color: #00cc9b;
}

.calculator .cal-form-group .form-control {
  padding-left: 15%;
}

.calculator .convertDiv {
  position: relative;
}

.calculator .convertDiv span {
  line-height: 1px;
  text-transform: uppercase;
  color: #afb2be;
  text-align: left;
  margin-left: 5px;
}

.calculator .convertDiv .lgSpan {
  font-size: 12px;
  display: block;
  margin-top: 10px;
}

.calculator .convertDiv .smSpan {
  font-size: 10px;
}

.calculator .convertDiv .country-Wrapper {
  position: relative;
}

.calculator .convertDiv .country-Wrapper .countryInput-Wrapper {
  cursor: pointer;
}

.calculator .convertDiv .country-Wrapper .countryInput-Wrapper .leftImg {
  margin-left: 20px;
}

.calculator .convertDiv .country-Wrapper .countryInput-Wrapper .rightImg {
  margin-right: 15px;
}

.calculator .convertDiv .country-Wrapper .countryDropDown-wrapper {
  position: absolute;
  width: 85%;
  padding: 5px;
  direction: ltr;
  display: none;
  z-index: 150;
  background: #15161a;
  margin-top: 1px;
  max-height: 150px;
  border-radius: 10px;
  overflow-y: scroll;
  cursor: pointer;
}

.calculator .convertDiv .country-Wrapper .countryDropDown-wrapper .listItem {
  margin-bottom: 10px;
  cursor: pointer;
}

.calculator .convertDiv .country-Wrapper .countryDropDown-wrapper .listItem img {
  margin-right: 10px;
}

.calculator .convertDiv .country-Wrapper .countryDropDown-wrapper .listItem .lgSpan {
  margin-bottom: 10px;
}

.calculator .convertDiv .country-Wrapper .countryDropDown-wrapper .listItem .smSpan {
  font-size: 8px;
}

.calculator .convertDiv .coin-Wrapper {
  position: relative;
}

.calculator .convertDiv .coin-Wrapper .coinInput-Wrapper {
  cursor: pointer;
}

.calculator .convertDiv .coin-Wrapper .coinInput-Wrapper .leftImg {
  margin-left: 8px;
}

.calculator .convertDiv .coin-Wrapper .coinInput-Wrapper .rightImg {
  margin-right: 35px;
}

.calculator .convertDiv .coin-Wrapper .coinDropDown-wrapper {
  position: absolute;
  width: 81%;
  padding: 5px;
  direction: ltr;
  display: none;
  z-index: 150;
  background: #15161a;
  margin-top: 1px;
  max-height: 150px;
  border-radius: 10px;
  overflow-y: scroll;
  left: 15px;
}

.calculator .convertDiv .coin-Wrapper .coinDropDown-wrapper .listItem {
  margin-bottom: 10px;
  cursor: pointer;
}

.calculator .convertDiv .coin-Wrapper .coinDropDown-wrapper .listItem img {
  margin-right: 10px;
}

.calculator .convertDiv .coin-Wrapper .coinDropDown-wrapper .listItem .lgSpan {
  margin-bottom: 10px;
}

.calculator .convertDiv .coin-Wrapper .coinDropDown-wrapper .listItem .smSpan {
  font-size: 8px;
}

.calculator .convertDiv #convertBtn {
  width: 80px;
  height: 80px;
  position: absolute;
  background: #15161a url(../images/iterative.png) no-repeat center;
  border: 10px solid #1b1c21;
  margin: 0px 6px;
  border-radius: 50%;
  left: 40%;
  top: -13%;
  z-index: 100;
}

/* --- Modal ----*/
.modal {
  border-radius: 10px;
}

.modal .modal-content {
  background: #1b1c21;
  padding: 10px;
}

.modal .modal-header {
  border: none;
}

.modal .modal-title {
  font-size: 16px;
  line-height: 24px;
  color: #e8e9f1;
}

.modal .modal-body p {
  color: #afb2be !important;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}

.modal .modal-body .changeRate-form-group {
  position: relative;
}

.modal .modal-body .changeRate-form-group .form-dontrol {
  padding-left: 5px;
}

.modal .modal-body .changeRate-form-group span {
  font-size: 10px;
  line-height: 16px;
  color: #53555c;
  position: absolute;
  top: 30%;
  right: 5%;
}

.modal .modal-body .modalcountry-wrapper span {
  line-height: 1px;
  text-transform: uppercase;
  color: #afb2be;
  text-align: left;
  margin-left: 10px;
}

.modal .modal-body .modalcountry-wrapper .modallgSpan {
  font-size: 12px;
  display: block;
  margin-top: 10px;
}

.modal .modal-body .modalcountry-wrapper .modalsmSpan {
  font-size: 10px;
}

.modal .modal-body .modalcountry-wrapper .modalcountryInput-Wrapper {
  cursor: pointer;
}

.modal .modal-body .modalcountry-wrapper .modalcountryDropDown-wrapper {
  position: absolute;
  width: 84%;
  padding: 5px;
  direction: ltr;
  display: none;
  z-index: 150;
  background: #15161a;
  margin-top: 1px;
  max-height: 150px;
  border-radius: 10px;
  overflow-y: scroll;
  cursor: pointer;
}

.modal .modal-body .modalcountry-wrapper .modalcountryDropDown-wrapper .modallistItem {
  cursor: pointer;
}

.modal .modal-body .modalcountry-wrapper .modalcountryDropDown-wrapper .modallistItem .modalItem {
  margin-bottom: 15px;
}

.modal .modal-body .modalcountry-wrapper .modalcountryDropDown-wrapper .modallistItem img {
  margin-right: 10px;
}

.modal .modal-body .modalcountry-wrapper .modalcountryDropDown-wrapper .modallistItem span {
  line-height: 1px;
  text-transform: uppercase;
  color: #afb2be;
  text-align: left;
  margin-left: 5px;
}

.modal .modal-body .modalcountry-wrapper .modalcountryDropDown-wrapper .modallistItem .modallgSpan {
  font-size: 12px;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.modal .modal-body .modalcountry-wrapper .modalcountryDropDown-wrapper .modallistItem .modalsmSpan {
  font-size: 10px;
}

.modal .modal-footer {
  border: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 0;
}

.modal .modal-footer button {
  color: #d7d8de;
  font-size: 12px;
  line-height: 16px;
  border-radius: 18px;
  width: 80px;
  height: 36px;
  background: transparent;
  border: none;
}

.modal .modal-footer .Btnprimary {
  background: #0b9171 !important;
}

/* --- Responsive Set*/
@media only screen and (max-width: 992px) {
  tr {
    height: 40px;
  }
}

@media only screen and (max-width: 768px) {
  tr {
    height: 40px;
  }
  div.dataTables_wrapper {
    margin: 0 auto;
    padding: 0;
    overflow-x: scroll;
  }
  .coinNamaDescription p {
    color: #afb2be;
    font-size: 14px;
    font-weight: 100;
    line-height: 24px;
    text-align: justify;
  }
  .calculator .convertDiv #convertBtn {
    left: 42%;
    top: -15%;
  }
  .calculator .convertDiv .country-Wrapper .countryInput-Wrapper .leftImg {
    margin-left: 22px;
  }
  .calculator .convertDiv .country-Wrapper .countryDropDown-wrapper {
    width: 89%;
  }
  .calculator .convertDiv .coin-Wrapper .coinDropDown-wrapper {
    width: 91%;
  }
}

@media only screen and (max-width: 425px) {
  .calculator .convertDiv #convertBtn {
    position: static;
    margin-right: 140px;
  }
  .calculator .convertDiv .country-Wrapper .countryInput-Wrapper .leftImg {
    margin-left: 5px;
  }
  .calculator .convertDiv .coin-Wrapper .coinInput-Wrapper .leftImg {
    margin-left: 5px;
  }
  .calculator .convertDiv .coin-Wrapper .coinInput-Wrapper .rightImg {
    margin-right: 15px;
  }
  .calculator .convertDiv .country-Wrapper .country-Wrapper .countryDropDown-wrapper {
    width: 92%;
  }
  .modal .modal-body .modalcountry-wrapper {
    margin-bottom: 10px;
  }
  .modal .modal-body .modalcountry-wrapper .modalcountryDropDown-wrapper {
    width: 92%;
  }
}

@media only screen and (max-width: 375px) {
  .calculator .convertDiv #convertBtn {
    position: static;
    margin-right: 120px;
  }
  .calculator .convertDiv .countryInput-Wrapper .leftImg {
    margin-left: 5px;
  }
  .calculator .convertDiv .coinInput-Wrapper .leftImg {
    margin-left: 5px;
  }
  .calculator .convertDiv .coin-Wrapper .coinInput-Wrapper .rightImg {
    margin-right: 15px;
  }
  .calculator .convertDiv .country-Wrapper .countryDropDown-wrapper {
    width: 90%;
  }
  .calculator .convertDiv .coin-Wrapper .coinDropDown-wrapper {
    width: 90%;
  }
  .modal .modal-body .modalcountry-wrapper .modalcountryDropDown-wrapper {
    width: 91%;
  }
}

@media only screen and (max-width: 320px) {
  .calculator .convertDiv #convertBtn {
    position: static;
    margin-right: 90px;
  }
  .calculator .convertDiv .coin-Wrapper .coinInput-Wrapper .leftImg {
    margin-left: 5px;
  }
  .calculator .convertDiv .coin-Wrapper .coinInput-Wrapper .rightImg {
    margin-right: 10px;
  }
  .calculator .convertDiv .country-Wrapper .countryDropDown-wrapper {
    width: 88%;
  }
  .calculator .convertDiv .country-Wrapper .countryInput-Wrapper .rightImg {
    margin-right: 10px;
  }
  .calculator .convertDiv .coin-Wrapper .coinDropDown-wrapper {
    width: 88%;
  }
  .modal .modal-body .modalcountry-wrapper .modalcountryDropDown-wrapper {
    width: 89%;
  }
  .cal-form-group .form-control {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */